<div id="Time" class="widgetBody" style="font-size: 120%">---</div>

<script type="text/javascript">

window.setInterval(() => {
    // let timerStart = Number(document.body.querySelector("#Time").innerHTML);
    let now = new Date();
    let date = [now.getFullYear(), now.getMonth(), now.getDay()].join('/');
    document.body.querySelector("#Time").innerHTML = `${date} ${now.toLocaleTimeString()}`;
}, 1000);

</script>